* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.corousel-1 {
    display: block;
    /* Displayed by default */
}

.corousel-2 {
    display: none;
    /* Hidden by default */
}

.navbar-main {
    gap: 15px;
}

.navbar {
    padding: 0px 20px;
    box-shadow: rgba(221, 221, 221, 0.45) 0px 0px 20px 0px;
}

.navbar-brand {
    margin-left: 23rem;
    padding-top: 0px;
    padding-bottom: 0px;
}

.ui-items {
    gap: 28px;
}

.ui-items .dropdown-menu .dropdown-item:hover {
    color: rgb(164, 41, 215);
    cursor: pointer;
}

.ui-items .nav-item .nav-link:hover {
    color: rgb(164, 41, 215);
}

.ui-div {
    margin-left: 12rem;
}

#header-btn {
    padding: 10px 24px;
    border: none;
    border-radius: 10px;
    color: white;
    background: linear-gradient(to right, rgb(84, 58, 193), rgb(164, 41, 215));
}

#header-btn:hover {
    background: rgb(0, 12, 96);
}

.dropdown-box {
    border-bottom: 0.25px solid silver;
}

.dropdown-item {
    padding: 10px 30px;
}

.dropdown-menu li {
    align-items: center;
}

.nav-link {
    color: rgb(35, 31, 32);
    font-size: 16px;
}

.heading-div {
    padding-top: 8rem;
}

.head {
    color: rgb(0, 12, 96);
    font-size: 4.25rem;
    font-weight: 800;
    padding: 0px;
    margin: 0px;
}

.blink-parent {
    position: relative;
}

.blink-parent #blink-child-1 {
    position: absolute;
    top: 8rem;
    left: 40rem;
    animation-name: blink-1;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.blink-parent #blink-child-2 {
    position: absolute;
    top: 13rem;
    left: 24rem;
    animation-name: blink-2;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.blink-parent #blink-child-3 {
    position: absolute;
    top: 15.5rem;
    right: 35rem;
    animation-name: blink-2;
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.blink-parent #blink-child-4 {
    position: absolute;
    top: 25rem;
    right: 40rem;
    animation-name: blink-2;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes blink-1 {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes blink-2 {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes blink-3 {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes blink-4 {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}



.div-1 {
    background-color: rgb(252, 252, 252);
}

.content {
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 10px;
}

#km-btn {
    padding: 8px 25px;
    border: 2px solid rgb(0, 12, 96);
    background-color: white;
    color: rgb(0, 12, 96);
    border-radius: 10px;
    /* margin-top: 2rem; */
}

#km-btn:hover {
    background: rgb(0, 12, 96);
    color: white;
}

#ad-btn {
    padding: 10px 24px;
    border-radius: 10px;
    border: none;
    color: white;
    background: linear-gradient(to right, rgb(84, 58, 193), rgb(164, 41, 215));
    margin-left: 18px;
    /* margin-top: 22px; */
}

#ad-btn:hover {
    background: rgb(0, 12, 96);
    color: white;
}

.know-more-card {
    width: 21rem;
    padding: 10px;
    box-shadow: rgb(204, 204, 204) 0px 0px 15px 0px;
    background-color: white;
}

.cards {
    gap: 3rem;
}

.arrow {
    position: relative;
    top: -7px;
    margin-left: 4px;
    cursor: pointer;
}

.info-div {
    padding: 30px 18px 8px 18px;
}

.info-div-2 {
    padding: 0px 16px;
}

#know-more-card-1 {
    position: relative;
    top: -5rem;
    z-index: 99;
    border-radius: 12px;
}

#know-more-card-2 {
    position: relative;
    top: -12rem;
    z-index: 99;
    border-radius: 12px;
}

#know-more-card-3 {
    position: relative;
    top: -5rem;
    border-radius: 12px;
    z-index: 99;
}

.know-more-card {
    transition: transform 0.25s ease-out;
}

.know-more-card:hover {
    transform: scale(1.07);
}

.know-more {
    color: rgb(164, 116, 244);
    text-decoration: none;
}

.card-img {
    border-radius: 10px;
    transition: transform 0.35s ease-out;
}

.know-more-card:hover img {
    transform: scale(1.1);
}

.card-head {
    color: rgb(0, 12, 96);
    font-weight: 800;
}

.div-5 {
    margin-top: 60px;
}

#is-font {
    color: rgb(0, 12, 96);
    padding: 10px 30px;
    background-color: #ffebeb;
    border-radius: 30px;
    font-weight: 600;
}

#name {
    font-weight: 800;
    font-size: 2rem;
    margin-top: 2rem;
    color: rgb(0, 12, 96);
}

#is-font-2 {
    font-size: 2rem;
    font-weight: 400;
    color: rgb(0, 12, 96);
}

.div-6 {
    margin-top: 4rem;
    padding: 0px 12px;
    width: 60rem;
    box-shadow: 0 0 30px #0000000a;
    background: #ffffff7d;
    margin-left: 30rem;
}

.each-box {
    text-align: center;
    padding: 50px 90px;
}

.each-box img,
.each-box h3,
.each-box p {
    transition: transform 0.35s ease-in-out;
}

.each-box:hover img {
    transform: scale(1.3);
}

.each-box:hover h3 {
    transform: scale(1.1);
}

.each-box:hover p {
    transform: scale(1.1);
}

.box-head {
    font-size: 18px;
    color: rgb(0, 12, 96);
    padding: 6px;
    font-weight: 600;
}

.box-body {
    font-size: 13px;
    font-weight: 400;
}

.parent-div {
    position: relative;
}

.blur-1 {
    position: absolute;
    right: 0;
    top: 15rem;
    z-index: -1;
}

.rope-1 {
    position: absolute;
    right: 0;
    top: 19rem;
    z-index: -1;
    animation-name: rope1;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes rope1 {
    0% {
        top: 19.5rem;
    }

    50% {
        top: 17rem;
    }

    100% {
        top: 19.5rem;
    }
}

.box-1 {
    border-right: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
}

.box-2 {
    border-bottom: 1px solid rgb(221, 221, 221);
}

.box-3 {
    border-right: 1px solid rgb(221, 221, 221);
}

.blocks {
    box-shadow: rgb(204, 204, 204) 0px 0px 15px 0px;
}

.div-7 {
    margin-top: 10rem;
    padding: 20px;
    z-index: 1;
}

.rope-1 {
    z-index: -1;
    background: transparent;
}

.div-7 h3 {
    text-align: center;
    font-size: 40px;
    color: rgb(0, 12, 96);
    font-weight: 600;
}

.div-7 span {
    color: rgb(139, 113, 187);
}

.carousel-item {
    transition: transform 0.6s ease-in-out;
}

.carousel-item p {
    margin-bottom: 10px;
}

.carousel-item img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}

.carousel-indicators {
    position: relative;
    bottom: auto;
    margin-top: 2rem;
    left: 35%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.carousel-indicators button {
    background-color: #ccc;
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}



#bt-1 {
    background-color: #ccc;
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}

#bt-1.active {
    background-color: #000;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#bt-1,
#bt-2,
#bt-3 {
    background-color: #ccc;
    border: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}

#bt-1.active,
#bt-2.active,
#bt-3.active {
    background-color: #000;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.corousel-card {
    width: 50rem;
    padding: 30px;
    background-color: rgba(255, 255, 255, 65%);
    box-shadow: rgba(204, 204, 204, 0.6) 0px 3px 10px 0px;
}

.corousel-row {
    gap: 3rem;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

.corousel-body {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-image: url('https://kona-digital.com/images/mapimg.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.first-row {
    border-bottom: 1px solid rgb(224, 224, 224);
}

.second-row {
    padding: 12px 0px;
}

.second-row img {
    width: 100%;
}

.c-name {
    font-size: 16px;
    font-weight: 700;
    color: rgb(33, 37, 41);
}

.c-role {
    font-size: 16px;
    font-weight: 400;
    color: rgb(33, 37, 41);
}

.info-row-c {
    padding-top: 10px;
    padding-left: 15px;
}

.info-row-c h5 {
    line-height: 1;
}

.b-div {
    padding: 0px 90px;
    position: relative;
}

.blur-pink-2 {
    position: absolute;
    left: 0;
    top: -60%;
    z-index: 2;
    transform: translateX(-90%);
}

.hy-div {
    padding: 120px 90px;
    position: relative;
}

.hy-div .rope {
    position: absolute;
    top: -39%;
    left: -22%;
    width: 100%;
    z-index: 1;
    animation-name: ropebounce;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}


@keyframes ropebounce {
    0% {
        top: -39%;
    }

    50% {
        top: -48%;
    }

    100% {
        top: -39%;
    }
}

.hy-div .row {
    position: relative;
    background: white;
}

.place-head {
    font-size: 1.5rem;
    font-weight: bold;
}

.hy-div p {
    margin-top: 10px;
    font-size: 1rem;
}

.hy-div .row img {
    width: 100%;
    max-width: 550px;
    height: auto;
}

.b-div .row img {
    width: 100%;
    max-width: 550px;
    height: auto;
}


.place-head {
    font-size: 24px;
    font-weight: 700;
    color: rgb(0, 12, 96);
}

.q-a {
    padding: 1rem 28rem;
    position: relative;
    z-index: 1;
}

.q-a-head {
    color: rgb(0, 12, 96);
    font-size: 38px;
    font-weight: 600;
}

.accordion-header button {
    font-size: 20px;
    font-weight: 500;
    padding: 20px 0px;
}

.accordion-button:focus,
.accordion-button:not(.collapsed) {
    color: rgb(118, 51, 202);
    background-color: transparent;
    box-shadow: none;
}

.accordion {
    padding: 70px 0px;
}

.blur-pink {
    position: absolute;
    left: 0;
    top: 30%;
    transform: translateY(-50%);
    z-index: -1;
}


.connect-row {
    margin-top: 0;
    padding: 3rem 22rem;
    background-color: #e8f0f7;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(228, 237, 245, 1) 100%);
}

.connect-head {
    font-size: 40px;
    font-weight: 700;
    color: rgb(140, 46, 209);
}

.launch-btn {
    padding: 10px 24px;
    background: linear-gradient(to right, rgb(84, 58, 193), rgb(164, 41, 215));
    color: white;
    margin-top: 6px;
}

.launch-btn:hover {
    background: rgb(0, 12, 96);
    color: white;
}

.connect-p {
    margin-top: 2rem;
}

.footer {
    width: 100%;
    padding: 3rem 3rem;
    gap: 4rem;
}

.lg-text {
    font-size: 11px;
    margin-top: 10px;
}

.f-list li {
    list-style-type: none;
    line-height: 2rem;
}

.f-head {
    font-weight: 600;
    font-size: 16px;
}

.ft-a {
    text-decoration: none;
    color: rgb(35, 31, 32);
}

.f-p {
    font-weight: 600;
}

.f-img {
    position: absolute;
    right: 1rem;
    top: 324rem;
    width: 169px;
}

.btn_caller {
    position: absolute;
    top: 326rem;
    right: 20px;
}

.modal-header {
    background-image: linear-gradient(to right, #ff9b71 0%, #5a39c2 60%, #9e2ad5 100%);
    color: #fff;
}

.modal-header .btn-close {
    color: #fff;
}
.modal-body {
    /* padding: 20px 0px 30px 30px; */
    background-color: white;
}

.inputs {
    padding: 8px 80px 8px 20px;
    margin-bottom: 14px;
    background-color: #f5f8fa;
    color: #33475b;
    border: 1px solid #cbd6e2;
    border-radius: 3px;
}

.submit-btn {
    /* padding: 6px 124px; */
    background: linear-gradient(to right, rgb(84, 58, 193), rgb(164, 41, 215));
    color: #fff;
}

.submit-btn:hover {
    background: rgb(0, 12, 96);
    color: white;
}

.watsapp {
    box-shadow: 0 5px 4px 0 rgb(0 0 0 / 26%);
    background-color: #a429d7;
    padding: 20px;
    border-radius: 200px 200px 200px 13px;
    -moz-border-radius: 200px 200px 200px 13px;
    -webkit-border-radius: 200px 200px 200px 13px;
    border: 0px solid #000000;
}

.watsapp-div {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

@media only screen and (max-width: 400px) {
    #km-btn {
        padding: 8px 25px;
        border: 2px solid rgb(0, 12, 96);
        background-color: white;
        color: rgb(0, 12, 96);
        border-radius: 10px;
        /* margin-top: 2rem; */
    }

    #ad-btn {
        padding: 10px 24px;
        border-radius: 10px;
        border: none;
        color: white;
        background: linear-gradient(to right, rgb(84, 58, 193), rgb(164, 41, 215));
        margin-left: 11px;
        margin-top: 12px;
    }

    .blink-parent #blink-child-4 {
        position: absolute;
        top: 50px;
        right: 1rem;
    }

    .connect-row {
        width: 100%;
        margin: 0;
    }

    .footer {
        margin: 0;
    }

    .footer .col {
        margin: 0;
        padding: 0;
        text-align: center;
    }
}

.custom-popover .popover-header {
    background: linear-gradient(-225deg, #a429d7 55%, #f58220);
    color: white;
}

.custom-popover .popover-body {
    font-size: 24px;
    padding: 15px;
    /* Adjust the padding to suit mobile view */
}

/* media queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    * {
        margin: 0px;
        padding: 0px;
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
    }

    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }

    .navbar .navbar-toggler {
        margin-left: -14px;
    }

    .navbar-brand {
        margin-left: 0rem;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .navbar {
        padding: 0px 0px;
        box-shadow: rgba(221, 221, 221, 0.45) 0px 0px 20px 0px;
    }

    .ui-items {
        gap: 0px;
    }

    .ui-div {
        margin-top: 0px;
        margin-left: 0px;
    }

    .div-1 {
        padding: 20px;
        padding-top: 80px;
        padding-bottom: 0px;
    }

    .div-1 .head {
        font-size: 2.5rem;
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .know-more-card {
        width: 22rem;
        padding: 10px;
        margin-top: 5rem;
        column-gap: 20px;
    }

    #know-more-card-2 {
        position: relative;
        top: -12rem;
        z-index: 99;
        border-radius: 12px;
        width: 22rem;
    }

    #know-more-card-1 {
        position: relative;
        top: -30;
        z-index: 99;
        border-radius: 12px;
        width: 22rem;
    }

    #know-more-card-3 {
        position: relative;
        top: 0;
        z-index: 99;
        border-radius: 12px;
        margin-top: -12rem;
        width: 22rem;
    }

    .hero-img img {
        height: 20rem;
    }

    .div-6 .row-1 {
        display: flex;
        flex-direction: column;
        justify-self: center;
        text-align: center;
    }

    .each-box {
        /* margin-left: 4rem; */
        /* max-width: fit-content; */
        width: 25rem;
    }

    .div-6 .row-2 {
        display: flex;
        flex-direction: column;
    }

    .each-box {
        padding: 20px 20px;
        border: none;
        box-shadow: 0 0 30px #0000000a;
        margin-top: 20px;
    }

    .div-6 {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        padding: 0px;
    }

    /* Carousel 2 CSS */

    #carouselExampleInterval {
        padding-top: 5rem;
        padding-bottom: 5rem;
        background-image: url('https://kona-digital.com/images/mapimg.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .carousel-item {
        transition: transform 0.6s ease-in-out;
    }

    .carousel-item p {
        margin-bottom: 10px;
    }

    .carousel-item img {
        max-width: 50px;
        max-height: 50px;
        border-radius: 50%;
    }

    .carousel-indicators {
        position: relative;
        bottom: auto;
        margin-top: 2rem;
        left: 35%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .carousel-indicators button {
        background-color: #ccc;
        border: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        cursor: pointer;
    }

    .carousel-indicators button.active {
        background-color: #000;
    }

    .corousel-card {
        width: 50rem;
        /* Adjust width as needed */
        padding: 30px;
        background-color: rgba(255, 255, 255, 0.65);
        box-shadow: rgba(204, 204, 204, 0.6) 0px 3px 10px 0px;
    }

    .corousel-row {
        gap: 3rem;
        display: flex;
        justify-content: center;
        border-radius: 8px;
    }

    .first-row {
        border-bottom: 1px solid rgb(224, 224, 224);
    }

    .second-row {
        padding: 12px 0px;
    }

    .second-row img {
        width: 100%;
    }

    .c-name,
    .c-role {
        font-size: 16px;
        font-weight: 700;
        color: rgb(33, 37, 41);
    }

    .c-role {
        font-weight: 400;
    }

    .info-row-c {
        padding-top: 10px;
        padding-left: 15px;
    }

    .info-row-c h5 {
        line-height: 1;
    }

    #bt-1 {
        background-color: #ccc;
        border: none;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        cursor: pointer;
    }

    #bt-1.active {
        background-color: #000;
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }

    .f-img {
        top: 600rem;
    }

    .b-div,
    .hy-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
    }

    .b-div .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .hy-div .row {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .b-div img,
    .hy-div img {
        width: 100%;
        max-width: 250px;
        height: auto;
        margin-top: 10px;
    }

    .b-div .col-sm-6,
    .hy-div .col-sm-6 {
        text-align: center;
        width: 100%;
    }

    .image-container img {
        width: 100%;
        height: auto;
        object-fit: cover;
        max-width: 100%;
        /* Prevent overflow */
        display: block;
        /* Remove default image spacing */
        display: none;
    }

    .q-a {
        padding: 1rem 2rem;
        z-index: -1;
    }

    .blur-pink {
        z-index: 11;
    }

    .connect-row {
        padding: 5rem 0rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .connect-row .col-sm-6 img {
        width: 30rem;
        left: -100px;
    }

    .f-img {
        display: none;
    }

    .footer {
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        text-align: center;
        margin-top: 20px;
    }

    .footer .col-3 {
        width: 100%;
    }

    .footer .col-3 p {
        padding: 0;
        font-size: 9px;
        overflow: hidden;
    }

    .blink-parent #blink-child-1 {
        position: absolute;
        top: 6rem;
        left: 6rem;
    }

    .blink-parent #blink-child-2 {
        position: absolute;
        top: 12rem;
        left: 2rem;
    }

    .blink-parent #blink-child-3 {
        position: absolute;
        top: 24rem;
        right: 4rem;
    }

    .blink-parent #blink-child-4 {
        position: absolute;
        top: 17rem;
        right: 4rem;
    }

    .connect-row {
        width: 100%;
        margin: 0;
    }


    .inputs {
        padding: 8px 50px 8px 20px;
        margin-bottom: 14px;
        background-color: #f5f8fa;
        color: #33475b;
        border: 1px solid #cbd6e2;
        border-radius: 3px;
    }

    .modal-header {
        background-image: linear-gradient(to right, #ff9b71 0%, #5a39c2 60%, #9e2ad5 100%);
        color: #fff;
    }

    .modal-header .btn-close {
        color: #fff;
    }

    .modal-dialog {
        justify-content: center;
        text-align: center;
        width: 21rem;
    }

    /* .modal-body {
        padding: 20px 0px 30px 30px;
        background-color: white;
    } */

    .submit-btn {
        padding: 6px 108px;
        background: linear-gradient(to right, rgb(84, 58, 193), rgb(164, 41, 215));
        color: #fff;
    }

    .footer .col .f-list {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .footer {
        padding: 30px 0px;
    }

    .corousel-1 {
        display: none;
    }

    .corousel-2 {
        display: block;
    }

    .div-6 {
        display: flex;
        flex-direction: column;
    }

    .div-6 .row-1 {
        display: flex;
        flex-direction: column;
        justify-self: center;
        text-align: center;
    }

    .each-box {
        /* margin-left: 4rem; */
        max-width: fit-content;
        box-shadow: 0 0 30px #0000000a;
    }

    .div-6 .row-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .corousel-2 .corousel-card {
        box-shadow: 0 3px 10px #cccccc99;
        background: #ffffffa6;
        -webkit-tap-highlight-color: transparent;
    }

    .corousel-2 .corousel-body {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .modal-dialog {
        width: 450px;
    }


    .modal-content {
        text-align: left;
        padding: 0;
        margin: 0;
    }

    .submit-btn {
        padding: 10px 20px;
    }

    .corousel-2 .corousel-card {
        background-image: url('../assests/mapimg.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .corousel-2 .corousel-body {
        padding: 20px 0px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) and (max-width: 767px) {
    * {
        margin: 0px;
        padding: 0px;
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
    }

    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }

    .navbar .navbar-toggler {
        margin-left: 8rem;
    }

    .navbar-brand {
        margin-left: 0rem;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .navbar {
        padding: 0px 0px;
        box-shadow: rgba(221, 221, 221, 0.45) 0px 0px 20px 0px;
    }

    .ui-items {
        gap: 0px;
    }

    .ui-div {
        margin-top: 0px;
        margin-left: 0px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .know-more-card {
        width: 25rem;
        padding: 10px;
        margin-top: 5rem;
        column-gap: 20px;
    }

    #know-more-card-2 {
        position: relative;
        top: 0;
        z-index: 99;
        border-radius: 12px;
    }

    #know-more-card-1 {
        position: relative;
        top: 0;
        z-index: 99;
        border-radius: 12px;
    }

    #know-more-card-3 {
        position: relative;
        top: 0;
        z-index: 99;
        border-radius: 12px;
    }

    .div-6 {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .div-6 .row-1 {
        display: flex;
        flex-direction: column;
        justify-self: center;
        text-align: center;
    }

    .each-box {
        margin-left: 4rem;
        max-width: fit-content;
    }

    .div-6 .row-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .each-box {
        padding: 20px 20px;
        border: none;
        box-shadow: 0 0 30px #0000000a;
        margin-top: 20px;
    }

    .corousel-card {
        width: 16rem;
    }

    .b-div,
    .hy-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
    }

    .b-div .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .hy-div .row {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .b-div img,
    .hy-div img {
        width: 100%;
        max-width: 250px;
        height: auto;
        margin-top: 10px;
    }

    .b-div .col-sm-6,
    .hy-div .col-sm-6 {
        text-align: center;
        width: 100%;
    }

    .image-container img {
        width: 100%;
        height: auto;
        object-fit: cover;
        max-width: 100%;
        /* Prevent overflow */
        display: block;
        /* Remove default image spacing */
    }

    .q-a {
        padding: 1rem 2rem;
        z-index: -1;
    }


    .blur-pink {
        z-index: 11;
    }

    .connect-row {
        padding: 3rem 1rem;
    }

    .f-img {
        position: absolute;
        right: 1rem;
        top: 490rem;
        width: 169px;
    }

    .footer {
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        text-align: center;
    }

    .footer .col-3 p {
        padding: 0;
        font-size: 12px;
        overflow: hidden;
    }

    .footer .col-3 {
        width: 100%;
    }

    .modal-dialog {
        width: 23rem;
    }

    .modal-body {
        margin-left: 20px;
    }
}



/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    * {
        margin: 0px;
        padding: 0px;
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
    }

    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }

    /* .navbar-main {
        gap: 25rem;
    } */

    .navbar .navbar-toggler {
        margin-left: 23rem;
    }

    .navbar {
        padding: 0px 0px;
        box-shadow: rgba(221, 221, 221, 0.45) 0px 0px 20px 0px;
    }

    .navbar-brand {
        margin-left: 0rem;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .ui-items {
        gap: 0px;
    }

    .ui-items .dropdown-menu .dropdown-item:hover {
        color: rgb(164, 41, 215);
        cursor: pointer;
    }

    .ui-items .nav-item .nav-link:hover {
        color: rgb(164, 41, 215);
    }

    .ui-div {
        margin-top: 0px;
        margin-left: 0px;
    }

    .blink-parent #blink-child-1 {
        position: absolute;
        top: 7.5rem;
        left: 16rem;
    }

    .blink-parent #blink-child-2 {
        position: absolute;
        top: 14rem;
        left: 3rem;
    }

    .blink-parent #blink-child-3 {
        position: absolute;
        top: 15.5rem;
        right: 14rem;
    }

    .blink-parent #blink-child-4 {
        position: absolute;
        top: 25rem;
        right: 18rem;
    }

    .cards {
        margin-top: 10rem;
    }

    .div-6 {
        margin-left: auto;
    }

    .each-box {
        text-align: center;
        padding: 30px 90px;
        width: 22rem;
        margin-left: 2rem;
    }

    .corousel-card {
        width: 20rem;
    }

    .q-a {
        padding: 1rem 5rem;
        z-index: -1;
    }

    .blur-pink {
        z-index: 11;
    }

    .connect-row {
        padding: 3rem 2rem;
    }

    .footer {
        padding: 4rem 0rem;
        gap: 0rem;
    }

    .modal-dialog {
        width: 23rem;
    }

    .modal-body {
        padding: 20px 0px 30px 30px;
        background-color: white;
    }

    .inputs {
        padding: 8px 80px 8px 20px;
        margin-bottom: 14px;
        background-color: #f5f8fa;
        color: #33475b;
        border: 1px solid #cbd6e2;
        border-radius: 3px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    * {
        margin: 0px;
        padding: 0px;
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
    }

    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .navbar-brand {
        margin-left: 3rem;
        display: flex;
        width: 10rem;
    }

    .ui-div {
        margin-left: 10rem;
    }

    .ui-items {
        gap: 10px;
    }

    .navbar-main {
        gap: 10px;
    }

    .div-6 {
        margin-left: auto;
    }

    .corousel-card {
        width: 28rem;
    }

    .q-a {
        padding: 1rem 8rem;
        position: relative;
        z-index: -1;
    }

    .blur-pink {
        z-index: 11;
    }

    .connect-row {
        padding: 3rem 5rem;
    }

    .footer {
        padding: 4rem 0rem;
        gap: 2rem;
    }

    .f-img {
        position: absolute;
        right: 1rem;
        top: 303rem;
        width: 169px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    * {
        margin: 0px;
        padding: 0px;
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
    }

    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }

    .navbar-brand {
        margin-left: 5rem;
        display: flex;
        width: auto;
    }

    .blink-parent #blink-child-1 {
        position: absolute;
        top: 8rem;
        left: 17rem;
    }

    .blink-parent #blink-child-2 {
        position: absolute;
        top: 13rem;
        left: 2rem;
    }

    .blink-parent #blink-child-3 {
        position: absolute;
        top: 15.5rem;
        right: 14rem;
    }

    .blink-parent #blink-child-4 {
        position: absolute;
        top: 25rem;
        right: 18rem;
    }

    .div-6 {
        margin-left: 10rem;
    }

    .corousel-card {
        width: 35rem;
    }

    .b-div {
        padding: 0px 90px;
        position: relative;
    }

    .q-a {
        padding: 1rem 12rem;
        position: relative;
        z-index: -1;
    }

    .blur-pink {
        z-index: 11;
    }

    .connect-row {
        padding: 3rem 5rem;
    }

    .footer {
        padding: 4rem 1rem;
    }

    .f-img {
        position: absolute;
        right: 1rem;
        top: 310.5rem;
        width: 169px;
    }

    .watsapp-div {
        bottom: 100px;
        right: 20px;
    }

    .navbar-main {
        gap: 15px;
    }

    .navbar {
        width: 100%;
        padding: 0px 0px;
        box-shadow: rgba(221, 221, 221, 0.45) 0px 0px 20px 0px;
    }

    .ui-div {
        margin-left: 10rem;
    }
}

@media (min-width: 1300px) and (max-width: 1399px) {
    .ui-div {
        margin-left: 15rem;
    }

    .navbar-brand {
        margin-left: 6rem;
    }

    .div-6 {
        margin-left: 11rem;
    }
}

@media (min-width: 1400px) and (max-width: 1540px) {
    * {
        margin: 0px;
        padding: 0px;
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
    }

    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }

    .navbar-main {
        background-color: #fff;
        gap: 15px;
    }

    .navbar {
        padding: 0px 30px;
        box-shadow: rgba(221, 221, 221, 0.45) 0px 0px 20px 0px;
        width: 100%;
        background-color: #fff;
    }

    .navbar-brand {
        margin-left: 7rem;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .blink-parent #blink-child-1 {
        position: absolute;
        top: 8rem;
        left: 24rem;
    }

    .blink-parent #blink-child-2 {
        position: absolute;
        top: 13rem;
        left: 10rem;
    }

    .blink-parent #blink-child-3 {
        position: absolute;
        top: 15.5rem;
        right: 20rem;
    }

    .blink-parent #blink-child-4 {
        position: absolute;
        top: 25rem;
        right: 24rem;
    }

    .div-6 {
        margin-top: 4rem;
        padding: 0px 12px;
        width: 60rem;
        margin-left: 14rem;
    }

    .rope-1 {
        position: absolute;
        left: 0;
        top: 19rem;
        z-index: -1;
        width: 100%;
        max-width: 10%;
    }

    .corousel-card {
        width: 40rem;
        padding: 30px;
        background-color: rgba(255, 255, 255, 65%);
        box-shadow: rgba(204, 204, 204, 0.6) 0px 3px 10px 0px;
    }

    .corousel-row {
        gap: 3rem;
        display: flex;
        justify-content: center;
        border-radius: 8px;
    }

    .corousel-body {
        padding-top: 5rem;
        padding-bottom: 5rem;
        background-image: url('https://kona-digital.com/images/mapimg.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .blur-pink {
        z-index: 11;
    }

    .q-a {
        padding: 1rem 16rem;
        position: relative;
        z-index: -1;
    }

    .footer {
        width: 100%;
        padding: 4rem 6rem;
        gap: 3rem;
    }

    .f-img {
        position: absolute;
        right: 1rem;
        top: 320rem;
        width: 169px;
    }

    .watsapp-div {
        bottom: 100px;
        right: 20px;
    }
}

@media (min-width: 1541px) and (max-width: 1700px) {

    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }

    .navbar-brand {
        margin-left: 15rem;
    }

    .blink-parent #blink-child-1 {
        position: absolute;
        top: 8rem;
        left: 28rem;
    }

    .blink-parent #blink-child-2 {
        position: absolute;
        top: 13rem;
        left: 10rem;
    }

    .blink-parent #blink-child-3 {
        position: absolute;
        top: 16rem;
        right: 24rem;
    }

    .blink-parent #blink-child-4 {
        position: absolute;
        top: 25rem;
        right: 26rem;
    }

    .div-6 {
        margin-left: 18rem;
    }

    .corousel-card {
        width: 45rem;
    }

    .q-a {
        padding: 1rem 16rem;
        z-index: -1;
    }

    .blur-pink {
        z-index: 11;
    }

    .footer {
        width: 100%;
        padding: 4.5rem 6rem 4rem 6rem;
        gap: 3rem;
    }

    .f-img {
        position: absolute;
        right: 1rem;
        top: 321rem;
        width: 169px;
    }

    .watsapp-div {
        bottom: 100px;
        right: 20px;
    }

}

@media (min-width: 1700px) and (max-width: 1900px) {

    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }

    .navbar-brand {
        margin-left: 22rem;
    }

    .blink-parent #blink-child-1 {
        position: absolute;
        top: 8rem;
        left: 28rem;
    }

    .blink-parent #blink-child-2 {
        position: absolute;
        top: 13rem;
        left: 10rem;
    }

    .blink-parent #blink-child-3 {
        position: absolute;
        top: 16rem;
        right: 24rem;
    }

    .blink-parent #blink-child-4 {
        position: absolute;
        top: 25rem;
        right: 26rem;
    }

    .div-6 {
        margin-left: 18rem;
    }

    .corousel-card {
        width: 45rem;
    }

    .q-a {
        padding: 1rem 16rem;
        z-index: -1;
    }

    .blur-pink {
        z-index: 11;
    }

    .footer {
        width: 100%;
        padding: 4.5rem 6rem 4rem 6rem;
        gap: 3rem;
    }

    .f-img {
        position: absolute;
        right: 1rem;
        top: 321rem;
        width: 169px;
    }

    .watsapp-div {
        bottom: 100px;
        right: 20px;
    }

    .ui-items {
        gap: 30px;
    }
}

@media only screen and (min-width: 1800px) {
    .div-6 {
        margin-left: 30rem;
    }
}

@media only screen and (min-width: 1900px) {
    .navbar-brand {
        margin-left: 25rem;
    }

    .ui-items {
        gap: 30px;
    }

    .navbar {
        box-shadow: rgba(221, 221, 221, 0.45) 0px 0px 20px 0px;
    }

    .div-6 {
        margin-left: 35rem;
    }
}